/* ~~~~~~~~~~~~~~~ Reset Style ~~~~~~~~~~~~~~~ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
html {height: 100%;}
body {line-height: 1;font-family: "Raleway", sans-serif;background-color: black;color: white;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
    --clr-primary: #7ac7c7;
    --clr-primary-light:rgb(150, 233, 233);
}

/* Зміна кольору тексту та фону при виділенні */
::selection {
    background-color: var(--clr-primary); /* Колір фону */
    color: #FFFFFF; /* Колір тексту */
}

/* Для старих версій браузерів */
::-moz-selection {
    background-color: var(--clr-primary); /* Колір фону для Firefox */
    color: #FFFFFF; /* Колір тексту для Firefox */
}

.logo {
    width: 155px;
}
.container {
    max-width: 59%;
    margin: 0 auto;
}

.button {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--clr-primary);
    color: black;
    display: block;
    transition: 0.2s;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.button:hover {
    background-color: var(--clr-primary-light);
}

.title {
    font-size: 3.33rem;
    /* line-height: 1.53rem; */
    font-family: "Jura", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 1.33rem !important;
}

h3 {
    font-size: 1.10rem !important;
    font-weight: 500 !important;
}

p {
    font-size: 1.33rem;
    line-height: 2rem;
    margin: 0 0 2rem 0;
}
/* ~~~~~~~~~~~~~~~~~ Header ~~~~~~~~~~~~~~~~~~ */
header {
    background-color: #0d2654;
    height: 64px;
    width: 100%;
    position: fixed;
    z-index: 5;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
/* ~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~ */
main {
    background-color: black;
    position: relative;
    overflow: hidden;

    user-select: none;
    -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none; /* Для старих версій Firefox */
    -ms-user-select: none; /* Для старих версій IE */

    pointer-events: none; /* За потреби */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}

.main-image {
    width: 100%;
    transition: opacity 0.3s ease-out;
}

.home-hero-parallax {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.clouds {
    position: absolute;
    opacity: 1; /* Початкова повна непрозорість */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out; /* Додаємо плавність для прозорості */
    will-change: transform, opacity; /* Оптимізація продуктивності */
}

/* Індивідуальні позиції для кожної хмари */
.cloud-a {
    top: 21%;
    right: -7%;
    width: 730px; /* Можна змінювати розмір */
}

.cloud-b {
    top: 0%;
    right: -3%;
    width: 880px;
}

.cloud-c {
    top: 0%;
    left: -10%;
    width: 741px;
    z-index: 3;
}

.cloud-d {
    top: 48%;
    right: 14%;
    width: 810px;
    z-index: 3;
}

.cloud-e {
    top: 12%;
    left: -12%;
    width: 1130px;
}

.cloud-f {
    top: 30%;
    right: 45%;
    width: 710px;
}

.cloud-g {
    top: 65%;
    left: 0%;
    width: 840px;
}

.cloud-h {
    z-index: 3;
    top: 49%;
    right: 35%;
    width: 700px;
}

.rocket {
    width: 310px;
    display: block;
}

.blastoff {
    position: absolute;
    bottom: -3%; /* Початкове положення ракети за межами екрану */
    left: 50%;
    transform: translateX(-50%) translateY(0);
    transition: transform 0.3s ease-out;
    /* Забезпечує плавні трансформації */
    -webkit-transform: translateX(-50%) translateY(0);
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -o-transform: translateX(-50%) translateY(0);
    z-index: 2; /* Забезпечує, що ракета над хмарами */
}

.plummage {
    position: absolute;
    top: 100%; /* Розміщує plummage безпосередньо під ракетою */
    left: 50%;
    transform: translateX(-50%) scale(1);
    transform-origin: top center;
    transition: transform 0.3s ease-out;
    width: 24.4368%;
    z-index: 1; /* Під ракетою */
}
/* ~~~~~~~~~~~~~~~~ Services ~~~~~~~~~~~~~~~~~ */
.services {
    margin-top: 65px;
}
.services .container {
    display: flex;
    justify-content: space-between;
    gap: 41px;
}
.services-description {
    width: 49%;
}
/* ~~~~~~~~~~~~~~~~ Accordion ~~~~~~~~~~~~~~~~ */
.accordion .title {
    margin-bottom: 21px;
}

.accordion-item__title {
    color: var(--clr-primary);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-description {
    max-height: 0; /* Сховати опис за замовчуванням */
    overflow: hidden; /* Сховати вміст, який перевищує max-height */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* Плавний перехід для max-height та opacity */
    opacity: 0; /* Сховати опис */
}

.accordion-description.open {
    max-height: 1000px; /* Висота, яка дозволить опису повністю відкритися */
    opacity: 1; /* Показати опис */
    margin-bottom: 21px;
}

.accordion-description p {
    font-size: 1rem !important;
}

.plus-minus-toggle {
    display: flex;
    align-items: center;
}

.plus-minus-toggle::before,
.plus-minus-toggle::after {
    content: '';
    width: 2px;
    height: 14px;
    background-color: white;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}
/* Відкритий стан - плюс */
.plus-minus-toggle::after {
    translate: -2px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
/* Закритий стан - мінус */
.plus-minus-toggle.active::before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
